// Settings file to override Foundation variables

// You can find the variables for each component at the bottom of their
// doc page. We tried to name them to where theyd make sense just by reading them.
// Go to http://foundation.zurb.com/docs/ to find what you need.

$header-font-family:                   "TradeGothicLT", Arial, sans-serif;
$header-font-weight:                   bold;

$paragraph-font-family:                inherit;

.TradeGothicLT { font-family: TradeGothicLT; }
.TradeGothicLT-CondEighteen { font-family: TradeGothicLT-CondEighteen; }
.TradeGothicLTCom-BdCn20 { font-family: TradeGothicLTCom-BdCn20; }