// Settings file to override Foundation variables
@import "foundation/foundation-global";

@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700);

$header-font-family: Lato, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$paragraph-font-family: Lato, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$red: #cd231f;
$darkgrey: #303131;
$lightyellow: #f3ecc9;

$header-font-weight: normal;
$header-font-style: normal;
$header-font-color: $red;

$subheader-font-color: $darkgrey;
$primary-color: $red;

$topbar-bg: $red;
$body-bg: white;


$hr-border-width: 1px;
$hr-border-style: solid;
$hr-border-color: $darkgrey;

$hr-margin: emCalc(20px);

// side menu
/* We use this to control padding. */
$side-nav-padding: emCalc(20px) 0;


/* We use these to control link styles. */
$side-nav-link-color: $lightyellow;
$side-nav-link-color-active: black;
$side-nav-font-size: emCalc(18px);
$side-nav-font-weight: bold;

/* We use these to control border styles */
$side-nav-divider-size: 1px;
$side-nav-divider-style: solid;
$side-nav-divider-color: $lightyellow;


/* Forms */
$input-bg-color: $lightyellow;