/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */

// import normalize, stay at top
@import "normalize";

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

/* Webfonts */
$fontnormal: TradeGothicLT;
$fontcond: TradeGothicLT-CondEighteen;


@font-face {
	font-family: $fontnormal;
	src: url('../webfonts/2660E9_0_0.eot?') format('eot'),url('../webfonts/2660E9_0_0.woff') format('woff'),url('../webfonts/2660E9_0_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $fontnormal;
	src: url('../webfonts/2680FB_0_0.eot?') format('eot'),url('../webfonts/2680FB_0_0.woff') format('woff'),url('../webfonts/2680FB_0_0.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: $fontcond;
	src: url('../webfonts/2660E9_1_0.eot?') format('eot'),url('../webfonts/2660E9_1_0.woff') format('woff'),url('../webfonts/2660E9_1_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $fontcond;
	src: url('../webfonts/2660E9_2_0.eot?') format('eot'),url('../webfonts/2660E9_2_0.woff') format('woff'),url('../webfonts/2660E9_2_0.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

.norm {
	font-family: $fontnormal;
}
.cond {
	font-family: $fontcond;
}

/* Start to customize Reverie */

$yellow: #ffb50b;
$lightgreen: #587363;
$green: #4f6657;
$verylightgrey: #f6f5f1;



body {	
	background-color: $green !important;
	a {
		color: $yellow;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		/* ...and now for the proper property */
		transition:.5s;
	}
	a:hover {
		color: white;
	}
	h1, h2 {
		font-weight: bold;
	}
	h1 {		
		color: white;
		text-transform: uppercase;
	}
	h2 {
		color: $yellow;
	}
	@media only screen and (max-width: 768px) { 
		h1, h2 {
			font-size: 21px;
		}
	}
	@media only screen and (min-width: 768px) { 
		h1, h2 {
			font-size: 36px;
		}
	}
	h3 {
		color: white;
	}
	h4 {
		color: $yellow;
	}
	@media only screen and (max-width: 768px) { 
		h3, h4 {
			font-size: 18px;
		}
	}
	@media only screen and (min-width: 768px) { 
		h3, h4 {
			font-size: 26px;
		}
	}
	
	h5 {
		font-size: 16px;
		font-weight: normal;
		color: $yellow;
	}
	img {
		vertical-align: middle;
	}
	p, li {
		font-size: 16px;
		color: white;
		line-height: 21px;
		
	}
	p {word-wrap:break-word;}
	table, tr, td {
		background: transparent !important;
		border: none;
	}
	ul.tick {
		list-style-image: url('../img/tick.png');
	}
	.yellow {
		color: $yellow;
	}

}
#bigheader {

	background-color: $verylightgrey;
	.row {
		padding-top: 24px;
		background-color: $verylightgrey;
	}
	
	#bigheaderinfo {
		padding: 28px 0;
		> div {
			width: 430px;
			margin: 0 auto;
		}
	}	
	img {
		display: block;
		margin: 0 auto;
		vertical-align: middle;
	}
	// slightly smaller text at extreme small end
	@media only screen and (min-width: 768px) { 
		h2 { font-size: 50px; }
		h3 { font-size: 25px; }
		p {  font-size: 16px; }
	}
	@media only screen and (min-width: 870px) { 
		h2 { font-size: 55px; }
		h3 { font-size: 27px; }
		p {  font-size: 18px; }
	}
	p, h2, h3 {
		margin: 0;
		padding: 0;
	}
	h2 {
		font-weight: bold;
		line-height: 55.6px;
		color: $yellow;
	}
	h2 a:hover {
		color: lighten($yellow,15);
	}
	h3 {
		font-weight: normal;
		line-height: 30px;
	}
	p {
		font-family: $fontcond;
		line-height: 21px;
	}
	p, h3, p a, h3 a {
		color: #5a7464;
	}
	p a:hover, h3 a:hover {
		color: lighten(#5a7464,10);
	}
	#logo_ehg {
		margin-top: 24px;
		margin-bottom: 20px;
		padding-top: 58px;
		padding-bottom: 60px;
		border-left: 1px solid #e0dfdc;
	}
}
#bignav {
	background-color: $yellow;
	.row {
		padding: 45px 0 35px 0;
	}
	ul {
		margin: 0 2%;
	}
	li {
		margin: 0;
		padding: 0;
		h1 {
			margin: 0;
		}
	}
	a {
		overflow: visible;
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		color: #5a7464;

		@media only screen and (min-width: 768px) { 
			font-size: 24px;
		}
		@media only screen and (min-width: 900px) { 
			font-size: 28px;
		}
		@media only screen and (min-width: 1000px) { 
			font-size: 32px;
		}
		
		&:hover {
			color: white;
			.buttonicon {
				background-position: -56px 0px !important; 
			}
		}
	}
	.buttonicon {
		width: 56px;
		height: 50px;
		margin: 0 auto;
			
	}
	#Location {
		background: url(../img/icons/bignav/location.png) no-repeat;
	}
	#Doctors {
		background: url(../img/icons/bignav/doctors.png) no-repeat;
	}
	#YourHealth {
		background: url(../img/icons/bignav/yourhealth.png) no-repeat;
	}
	#Employers {
		background: url(../img/icons/bignav/employers.png) no-repeat;
	}
	#Japanese {
		background: url(../img/icons/bignav/japanese.png) no-repeat;
	}
	#ContactUs {
		background: url(../img/icons/bignav/contactus.png) no-repeat;
	}
}

body {
	background-color: $green;
}

body #contentbg #maincontent .break-large-12 {
	
	@include grid-row;
	// above 1100, large-12
	@media only screen and (min-width: 1241px) { 
		@include grid-column(12);
	}
	
	// below 1100, large-24
	@media only screen and (max-width: 1240px) { 
		@include grid-column(24);
	}
	
}
#contentbg {
	.row {
		background: transparent;
	}
}
#footerbg {
	background-color: $verylightgrey;
	footer {
		p, a, #mc-indicates-required {
			font-family: $fontcond;
			color: grey;
			margin: 0;
			text-align: center;
		}
		#footercontactform {
			p {
				margin-bottom: 1em;
			}
			button {
				border: none;
				background: transparent;
				width: 114px;
				text-align: center;
				display: block;
				margin: 0 auto;
				
				padding: 0;
			}
			input {
				color: #878787;
				background-color: #e6e6e6;
			}
			label {
				display: none;
			}
			li {
				list-style-type: none;
				// stupid mailchip form is wrapped in a <li>. why?
				
			}
			input[type="submit"] {
				background: url(../img/buttons/submit.png) no-repeat;
				width: 114px;
				height: 50px;
				text-indent: -9999px;
				border: none;
				@media #{$small} {
					margin: 0;
					float: right;
				}
			}
		}
		#footer_otmc, #footer_ehg {
			text-align: center;
		}
		#footer_ehg img {
			padding: 30px;
		}
		#footer_otmc img {
			border-bottom: 1px solid lightgrey;
			padding: 50px;
		}
		img {
			text-align: center;
		}
		#mc-indicates-required {
			display: none;
		}

		@media #{$small} { 
			p, a, #mc-indicates-required {
				text-align: left;
			}
			#footer_otmc {
				border-right: 1px solid lightgrey;
				img {
					border-bottom: none;
					padding: 0;
				}
			}
		}
		
		
		&.row {
			background-color: $verylightgrey;
		}
		.row > .columns {
			display:table-cell;
   			vertical-align:middle;
   			height: 100%;
		}
		
	}
	
}

$smallnavheight: 72px;

#locationbg {
	// bit of a hack to make the small nav "find" button hit the right spot;
	margin-top: -$smallnavheight;
	padding-top: $smallnavheight;
	
	.fvcustom {
		padding-bottom: 60%;
		margin: 0;
	}
	@media only screen and (min-width: 768px) {
		.fvcustom {
			padding-bottom: 50%;
		}
	}
	@media only screen and (min-width: 1000px) {
		.fvcustom {
			padding-bottom: 35%;
		}
	}
	#locationlabel {
		background-color: $yellow;
		h1 {
			text-align: center;
			color: $green;
		}
		img {
			margin-top: 10px;

			@media only screen and (min-width: 768px) {
				margin-bottom: -15px;
			}
		}
	}
	#locationdetails {
		background-color: $lightgreen;	
		padding: 30px 50px;
	}
	@media #{$small} { 
		#locationlabel, #locationdetails {
			height: 225px;
		}
		#locationlabel img {
			margin-top: 50px;
		}
	}
}
#maincontent {
	background-color: $green;
}
#maincontent, #sidebarcontent, footer {
	@media only screen and (max-width: 768px) { 
		padding: 20px;
	}
	@media only screen and (min-width: 768px) { 
		padding: 40px;		
	}
	margin: 0;
	
}
#sidebar {
	margin-right: auto;
	padding: 0;
	background-color: $lightgreen;
	overflow: hidden;
	article {
		margin-bottom: 20px;
	}
	h5 {
		font-family: $fontnormal;
	}	
	p, h5 {
		margin-bottom: 0;
	}
	#tower {
		margin: 0;
		
		img {
			width: 100%;
		}
	}
	.orbit-prev, .orbit-next {
		display: none;
	}
	
}
#smallheader {
	header.row {
		height: 91px; // set explicitly to help out the "sticky" menu...
		background-color: $verylightgrey;
		padding: 6px 0;
	}
	img {
		display: block;
		margin: 0 auto;
	}
	
}
#smallnav {
	.top-bar {
		> a {
			width: 100%;
			height: $smallnavheight;
			display: block;
		}
		&.expanded {
			// hardcoded so that animation works properly... height:auto animates back to nothing, then pops fully open.
			height: 401px;
		}
		img {
			padding-top: 10px;
			width: 42px;			
			margin: 0 auto;
			display: block;
		}
		li {
			padding: 0;
		}
		.title-area {
			margin: 0;
		}
		.toggle-topbar {
			position: relative; // undoes the absolute position sticking right for the menu button....
			background-color: $yellow;
			a {
				text-indent: 0;
				padding: 0;
			}
		}
				
		.top-bar-section ul li a {
			font-size: 21px;
			text-transform: uppercase;
		}
	
		transition-property:height;
		-moz-transition-property: height; /* Firefox 4 */
		-webkit-transition-property:height; /* Safari and Chrome */
		-o-transition-property:height; /* Opera */

		transition-duration: 1s;
		-moz-transition-duration: 1s; /* Firefox 4 */
		-webkit-transition-duration: 1s; /* Safari and Chrome */
		-o-transition-duration: 1s; /* Opera */

		transition-timing-function: linear;
		-moz-transition-timing-function: linear; /* Firefox 4 */
		-webkit-transition-timing-function: linear; /* Safari and Chrome */
		-o-transition-timing-function: linear; /* Opera */


	}
	notused {
			transition-delay: .25s;
		-moz-transition-delay: .25s; /* Firefox 4 */
		-webkit-transition-delay: .25s; /* Safari and Chrome */
		-o-transition-delay: .25s; /* Opera */
	}
	.top-bar 
	.green {
		background-color: $green;
	}
	.lgreen {
		background-color: $lightgreen;
	}
}
.socialfix {
	float: left;
	padding-bottom: 20px;
	padding-right: 20px;
}

/**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************/


/* "default" reverie customizations */
// add some extra style to row to beautify custom background image
header.row,
.container.row,
.row.full-width {
	background-color: rgba(255,255,255,0.9);
}

// adjusting header
h4.subheader {
	margin-top: -1em;
}

// add new pagination class for WordPress, Sass is amazingly fast
.page-numbers { @include pagination; }

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
	span:hover a,
	span a:focus {
		background: $pagination-link-active-bg;
	}
	span.current {
		background: $pagination-link-current-background;
		padding: $pagination-link-pad;
		color: $pagination-link-current-font-color;
		font-weight: $pagination-link-current-font-weight;
		cursor: $pagination-link-current-cursor;
	}
}

// add some basic comment styles
ol.commentlist {
	margin-left: 0;
	margin-top: 2em;
	li {
		list-style: none;
		margin-bottom: 2em;
	}
		.comment-author img {
			border-radius: 50%;
			float: left;
			margin: 0 1em 0 0;
		}
		.author-meta {
			display: inline-block;
		}
			cite.fn {
				@extend h4;
				margin-right: 0.5em;
			}
		section.comment {
			@include panel(white, 20px);
		}
			a.comment-reply-link {
				float: right;
				position: relative;
				bottom: 1em;
			}
}

// add some extra margin to ul
ul {
	margin-#{$default-float}: $list-side-margin;
}

// add some margin for embeds in post
figure {
	margin-bottom: $paragraph-margin-bottom;
}

// adjust search button on top-bar
input.prefix.button {
	line-height: 1;
}

// adjust search button on sideba
#sidebar input.prefix.button {
	line-height: 0.7;
}

// Add Class for Images
img.alignright {
	float: right;
	margin: 0 0 18px 18px;
}
	
img.alignleft {
	float: left;
	margin: 0 18px 18px 0;
}

img.aligncenter {
	display: block;
	margin: 18px auto;
	}

// Add HTML5 Caption Class for Images
figure.figure {
	margin: 0 auto;
	display: inline-block;
	figcaption {
		padding: 8px 10px;
		color: gray;
		margin-bottom: $paragraph-margin-bottom;
	}
}

figure.alignright.figure {
	float: right;
	margin: 0 0 18px 18px;
}

figure.alignleft.figure {
	float: left;
	margin: 0 18px 18px 0;
}
