/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */

// import normalize, stay at top
@import "normalize";

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

/* Start to customize Reverie */

$yellow: #ffb602;
$lightgreen: #587363;
$green: #4f6657;

$fontnormal: TradeGothicLT;
$fontcond: TradeGothicLT-CondEighteen;
$fontbold: TradeGothicLTCom-BdCn20;

section[role="document"] {
	
	h1, h2, h3, h4 {
		font-family: $fontbold;
	}
	h1 {
		
		color: white;
		text-transform: uppercase;
	}
	h2 {
		color: $yellow;
	}
	@media only screen and (max-width: 768px) { 
		h1, h2 {
			font-size: 21px;
		}
	}
	@media only screen and (min-width: 768px) { 
		h1, h2 {
			font-size: 36px;
		}
	}

	h3 {
		color: white;
	}
	h4 {
		color: $yellow;
	}
	@media only screen and (max-width: 768px) { 
		h3, h4 {
			font-size: 18px;
		}
	}
	@media only screen and (min-width: 768px) { 
		h3, h4 {
			font-size: 26px;
		}
	}
	
	h5 {
		font-size: 16px;
		font-weight: normal;
		color: $yellow;
	}
	p, li {
		font-size: 16px;
		color: white;
		line-height: 21px;
	}
	a {
		color: $yellow;
		
	}
	.yellow {
		color: $yellow;
	}

	ul.tick {
		list-style-image: url('../img/tick.png');
	}
}
#bigheader {

	background-color: #f6f5f1;
	.row {
		padding-top: 24px;
		background-color: #f6f5f1;
	}
	
	#bigheaderinfo {
		padding: 28px 0;
		> div {
			width: 430px;
			margin: 0 auto;
		}
	}	
	img {
		display: block;
		margin: 0 auto;
		vertical-align: middle;
	}
	// slightly smaller text at extreme small end
	@media only screen and (min-width: 768px) { 
		h2 { font-size: 50px; }
		h3 { font-size: 25px; }
		p {  font-size: 16px; }
	}
	@media only screen and (min-width: 870px) { 
		h2 { font-size: 55px; }
		h3 { font-size: 27px; }
		p {  font-size: 18px; }
	}
	p, h2, h3 {
		margin: 0;
		padding: 0;
	}
	h2, h2 a {
		font-family: $fontbold;
		font-weight: normal;
		line-height: 55.6px;
		color: $yellow;
	}
	h2 a:hover {
		color: lighten($yellow,15);
	}
	h3 {
		font-family: $fontcond;
		font-weight: normal;
		line-height: 30px;
	}
	p {
		font-family: $fontcond !important;
		line-height: 21px;
	}
	p, h3, p a, h3 a {
		color: #5a7464;
	}
	p a:hover, h3 a:hover {
		color: lighten(#5a7464,10);
	}
	
	#logo_ehg {
		margin-top: 24px;
		padding-top: 58px;
		border-left: 1px solid #e0dfdc;
		padding-bottom: 60px;
	}
}
#bignav {
	background-color: $yellow;
	row {
		padding: 45px 0;
	}
	ul {
		margin: 0 2%;
	}
	li {
		margin: 50px 0;
		padding: 0;
	}
	a {
		height: 80px;
		overflow: visible;
		display: block;
		padding-top: 50px;
		text-align: center;
		font-family: $fontbold;
		text-transform: uppercase;
		color: #5a7464;
		
		@media only screen and (min-width: 768px) { 
			font-size: 21px;
		}
		@media only screen and (min-width: 900px) { 
			font-size: 24px;
		}
		@media only screen and (min-width: 1000px) { 
			font-size: 28px;
		}
		@media only screen and (min-width: 1140px) { 
			font-size: 32px;
		}
	}
	#menu-item-28 {
		background: url(../img/icons/green/location.png) no-repeat top center;
	}
	#menu-item-25 {
		background: url(../img/icons/green/doctors.png) no-repeat top center;
	}
	#menu-item-23 {
		background: url(../img/icons/green/physio.png) no-repeat top center;
	}
	#menu-item-22 {
		background: url(../img/icons/green/yourhealth.png) no-repeat top center;
	}
	#menu-item-24 {
		background: url(../img/icons/green/employers.png) no-repeat top center;
	}
	#menu-item-27 {
		background: url(../img/icons/green/japanese.png) no-repeat top center;
	}
	#menu-item-26 {
		background: url(../img/icons/green/contactus.png) no-repeat top center;
	}
}
#contentbg, #maincontent {
	background-color: $green;
}
#maincontent, #sidebarcontent {
	@media only screen and (max-width: 768px) { 
		padding: 20px;
	}
	@media only screen and (min-width: 768px) { 
		padding: 50px;
	}
	margin: 0;
	
}
#smallheader {
	header.row {
		height: 91px; // set explicitly to help out the "sticky" menu...
		background-color: #f6f5f1;
		padding: 6px 0;
	}
	img {
		display: block;
		margin: 0 auto;
	}
	
}
#smallnav {
	.top-bar {
		.toggle-topbar {
			position: relative; // undoes the absolute position sticking right for the menu button....
			background-color: $yellow;
		}
		li {
			padding: 0;
		}
		img {
			width: 85px;
			height: 72px;
			margin: 0 auto;
			display: block;
		}
		&.expanded {
			height: 394px;
		}
		transition-property:height;
		-moz-transition-property: height; /* Firefox 4 */
		-webkit-transition-property:height; /* Safari and Chrome */
		-o-transition-property:height; /* Opera */

		transition-duration: 1.5s;
		-moz-transition-duration: 1.5s; /* Firefox 4 */
		-webkit-transition-duration: 1.5s; /* Safari and Chrome */
		-o-transition-duration: 1.5s; /* Opera */

		transition-timing-function: linear;
		-moz-transition-timing-function: linear; /* Firefox 4 */
		-webkit-transition-timing-function: linear; /* Safari and Chrome */
		-o-transition-timing-function: linear; /* Opera */

		transition-delay: .25s;
		-moz-transition-delay: .25s; /* Firefox 4 */
		-webkit-transition-delay: .25s; /* Safari and Chrome */
		-o-transition-delay: .25s; /* Opera */

	}
	.top-bar .toggle-topbar a {
		text-indent: 0;
		padding: 0;
	}
	.green {
		background-color: $green;
	}
	.lgreen {
		background-color: $lightgreen;
	}
}
#sidebar {
	padding: 0;
	background-color: $lightgreen;
	overflow: hidden;
	article {
		margin-bottom: 20px;
	}	
	p, h5 {
		margin-bottom: 0;
	}
	#tower {
		bottom: 0;
		margin: 0;
		width: 100%;
	}
}

/* "default" reverie customizations */
// add some extra style to row to beautify custom background image
header.row,
.container.row,
.row.full-width {
	background-color: rgba(255,255,255,0.9);
}

// adjusting header
h4.subheader {
	margin-top: -1em;
}

// add new pagination class for WordPress, Sass is amazingly fast
.page-numbers { @include pagination; }

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
	span:hover a,
	span a:focus {
		background: $pagination-link-active-bg;
	}
	span.current {
		background: $pagination-link-current-background;
		padding: $pagination-link-pad;
		color: $pagination-link-current-font-color;
		font-weight: $pagination-link-current-font-weight;
		cursor: $pagination-link-current-cursor;
	}
}

// add some basic comment styles
ol.commentlist {
	margin-left: 0;
	margin-top: 2em;
	li {
		list-style: none;
		margin-bottom: 2em;
	}
		.comment-author img {
			border-radius: 50%;
			float: left;
			margin: 0 1em 0 0;
		}
		.author-meta {
			display: inline-block;
		}
			cite.fn {
				@extend h4;
				margin-right: 0.5em;
			}
		section.comment {
			@include panel(white, 20px);
		}
			a.comment-reply-link {
				float: right;
				position: relative;
				bottom: 1em;
			}
}

// add some extra margin to ul
ul {
	margin-#{$default-float}: $list-side-margin;
}

// add some margin for embeds in post
figure {
	margin-bottom: $paragraph-margin-bottom;
}

// adjust search button on top-bar
input.prefix.button {
	line-height: 1;
}

// adjust search button on sideba
#sidebar input.prefix.button {
	line-height: 0.7;
}

// Add Class for Images
img.alignright {
	float: right;
	margin: 0 0 18px 18px;
}
	
img.alignleft {
	float: left;
	margin: 0 18px 18px 0;
}

img.aligncenter {
	display: block;
	margin: 18px auto;
	}

// Add HTML5 Caption Class for Images
figure.figure {
	margin: 0 auto;
	display: inline-block;
	figcaption {
		padding: 8px 10px;
		color: gray;
		margin-bottom: $paragraph-margin-bottom;
	}
}

figure.alignright.figure {
	float: right;
	margin: 0 0 18px 18px;
}

figure.alignleft.figure {
	float: left;
	margin: 0 18px 18px 0;
}